# Premium Allocation Tool

In [1]:
import numpy as np
import pandas as pd
import json
import uuid  

from pat_sql import PatJob
from pat_common import PatFlag, AppSettings

# Get job list

## Delete Job

In [4]:
# pd.DataFrame(json.loads(PatJob.get_job_list()))
PatJob.delete().head()

,job_id,job_guid,job_name,receive_time,update_time,status,user_name,user_email
0,100000133,4b5afe6e-1807-4653-a3d8-a8ebc680afde ...,PAT_Test_AIG,2021-10-01T21:58:28.410471,2021-10-01T21:58:59.677297,data_extracted,cxiao,chengyou.xiao@guycarp.com
1,100000132,bd466a3e-ad62-4f21-8f61-566638d28874 ...,PAT_Test_AIG,2021-10-01T17:32:38.740054,2021-10-01T17:33:28.927869,finished,cxiao,chengyou.xiao@guycarp.com
2,100000131,7d7c0e55-42d2-409d-a214-6e51a70d2bfa ...,PAT_Test_AIG,2021-10-01T16:50:52.291774,2021-10-01T16:51:44.652986,finished,cxiao,chengyou.xiao@guycarp.com
3,100000130,e55221a2-65f3-4077-8b7b-ac7afee6af58 ...,PAT_Test_AIG,2021-10-01T16:42:25.743290,2021-10-01T16:43:14.510470,finished,cxiao,chengyou.xiao@guycarp.com
4,100000129,7813ecdf-a104-4536-8993-288f685d0e93 ...,PAT_Test_AIG,2021-10-01T16:39:54.566581,2021-10-01T16:40:45.396324,finished,cxiao,chengyou.xiao@guycarp.com

## Job parameters

In [5]:
ret = PatJob.get_job_para(100000126)
if ret:
    print(json.dumps(json.loads(ret),indent=4))

{
    "job_guid": "d8df7bb5-b84f-48ac-b1df-e06826b40c78",
    "job_name": "PAT_Test_AIG",
    "error_action": "continue",
    "type_of_rating": "PSOLD",
    "coverage": "Building + Contents + Time Element",
    "peril_subline": "All_Perils",
    "subject_premium": 100000000.0,
    "loss_alae_ratio": 1,
    "average_accident_date": "1/1/2022",
    "trend_factor": 1.035,
    "additional_coverage": 2,
    "deductible_treatment": "Retains Limit",
    "server": "DFWCAT-RMS5SQL1",
    "edm_database": "RMS_EPL_AIG_PAT_Testing_202107_EDM181",
    "rdm_database": "RMS_EPL_AIG_PAT_Testing_202107_RDM181",
    "portinfoid": 6,
    "perilid": 5,
    "analysisid": 5,
    "user_name": "cxiao",
    "user_email": "chengyou.xiao@guycarp.com"
}

## Result summary

In [6]:
df = PatJob.get_summary(100000126)
df

   cnt_policy  cnt_location  cnt_fac
0       20996         20996   191635

## Results

In [7]:
df = PatJob.get_results(100000126)
df

,Limit,Retention,Premium,Participation,AOI,LocationIDStack,RatingGroup,OriginalPolicyID,PseudoPolicyID,PseudoLayerID,PolLAS,DedLAS
0,2.500000e+06,500000.00,269.353553,0.05,6.631111e+05,2231636,32,888279,888279_2231636,1,37128.851636,28180.175056
1,2.650000e+09,50500000.00,0.000000,0.05,6.631111e+05,2231636,32,888279,888279_2231636,4,37128.851636,37128.851636
2,2.500000e+06,48509.00,21.412871,0.05,4.850900e+04,2231637,15,888279,888279_2231637,1,7426.554003,6715.158685
3,2.650000e+09,50048509.00,0.000000,0.05,4.850900e+04,2231637,15,888279,888279_2231637,4,7426.554003,7426.554003
4,2.500000e+06,500000.00,530.813585,0.05,8.928776e+07,2231638,15,888279,888279_2231638,1,48410.080672,30774.972326
...,...,...,...,...,...,...,...,...,...,...,...,...
22986,3.801501e+06,905873.31,272.521646,0.25,9.058733e+05,697271,11,900324,900324_697271,1,20321.091055,17254.794993
22987,3.801501e+06,56505.39,76.551732,0.25,5.650539e+04,697272,11,900324,900324_697272,1,6586.677593,5725.350513
22988,3.801501e+06,135612.94,153.127810,0.25,1.356129e+05,697273,11,900324,900324_697273,1,11266.610015,9543.681920
22989,3.801501e+06,132628.51,154.714230,0.25,1.326285e+05,697274,11,900324,900324_697274,1,11241.927796,9501.149986
22990,3.801501e+06,254129.57,144.589982,0.25,2.541296e+05,697275,11,900324,900324_697275,1,12747.016713,11120.152581

## Validation data

In [8]:
df1,df2,df3 = PatJob.get_validation_data(100000126)
print(len(df1), len(df2), len(df3))

0 6 0

In [9]:
df2.sort_values(by='LocationIDStack')

,PseudoPolicyID,LocationIDStack,occupancy_scheme,occupancy_code,AOI,RatingGroup,flag,Notes
0,902071_721437,721437,ATC,10,8.289970e+07,8,2048,AOI differences on location ID stack value
2,902073_721437,721437,ATC,10,8.211242e+07,8,2048,AOI differences on location ID stack value
4,902075_721437,721437,ATC,10,8.289970e+07,8,2048,AOI differences on location ID stack value
1,902071_722511,722511,ATC,10,8.823166e+07,8,2048,AOI differences on location ID stack value
3,902073_722511,722511,ATC,10,8.211242e+07,8,2048,AOI differences on location ID stack value
5,902075_722511,722511,ATC,10,8.823166e+07,8,2048,AOI differences on location ID stack value

# Create New Job

In [10]:
job_para = json.load(open('data/pat_job_test.json'))
job_para['job_guid']=str(uuid.uuid4())

job = PatJob(job_para)
job.job_id

100000134

# Process

In [11]:
job.perform_analysis()

Starting copy...
1000 rows sent to SQL Server. Total sent: 1000
1000 rows sent to SQL Server. Total sent: 2000
1000 rows sent to SQL Server. Total sent: 3000
1000 rows sent to SQL Server. Total sent: 4000
1000 rows sent to SQL Server. Total sent: 5000
1000 rows sent to SQL Server. Total sent: 6000
1000 rows sent to SQL Server. Total sent: 7000
1000 rows sent to SQL Server. Total sent: 8000
1000 rows sent to SQL Server. Total sent: 9000
1000 rows sent to SQL Server. Total sent: 10000
1000 rows sent to SQL Server. Total sent: 11000
1000 rows sent to SQL Server. Total sent: 12000
1000 rows sent to SQL Server. Total sent: 13000
1000 rows sent to SQL Server. Total sent: 14000
1000 rows sent to SQL Server. Total sent: 15000
1000 rows sent to SQL Server. Total sent: 16000
1000 rows sent to SQL Server. Total sent: 17000
1000 rows sent to SQL Server. Total sent: 18000
1000 rows sent to SQL Server. Total sent: 19000
1000 rows sent to SQL Server. Total sent: 20000

20996 rows copied.
Network packet size (bytes): 4096
Clock Time (ms.) Total     : 906    Average : (23174.39 rows per sec.)

Starting copy...
1000 rows sent to SQL Server. Total sent: 1000
1000 rows sent to SQL Server. Total sent: 2000
1000 rows sent to SQL Server. Total sent: 3000
1000 rows sent to SQL Server. Total sent: 4000
1000 rows sent to SQL Server. Total sent: 5000
1000 rows sent to SQL Server. Total sent: 6000
1000 rows sent to SQL Server. Total sent: 7000
1000 rows sent to SQL Server. Total sent: 8000
1000 rows sent to SQL Server. Total sent: 9000
1000 rows sent to SQL Server. Total sent: 10000
1000 rows sent to SQL Server. Total sent: 11000
1000 rows sent to SQL Server. Total sent: 12000
1000 rows sent to SQL Server. Total sent: 13000
1000 rows sent to SQL Server. Total sent: 14000
1000 rows sent to SQL Server. Total sent: 15000
1000 rows sent to SQL Server. Total sent: 16000
1000 rows sent to SQL Server. Total sent: 17000
1000 rows sent to SQL Server. Total sent: 18000
1000 rows sent to SQL Server. Total sent: 19000
1000 rows sent to SQL Server. Total sent: 20000

20996 rows copied.
Network packet size (bytes): 4096
Clock Time (ms.) Total     : 562    Average : (37359.43 rows per sec.)

Starting copy...
1000 rows sent to SQL Server. Total sent: 1000
1000 rows sent to SQL Server. Total sent: 2000
1000 rows sent to SQL Server. Total sent: 3000
1000 rows sent to SQL Server. Total sent: 4000
1000 rows sent to SQL Server. Total sent: 5000
1000 rows sent to SQL Server. Total sent: 6000
1000 rows sent to SQL Server. Total sent: 7000
1000 rows sent to SQL Server. Total sent: 8000
1000 rows sent to SQL Server. Total sent: 9000
1000 rows sent to SQL Server. Total sent: 10000
1000 rows sent to SQL Server. Total sent: 11000
1000 rows sent to SQL Server. Total sent: 12000
1000 rows sent to SQL Server. Total sent: 13000
1000 rows sent to SQL Server. Total sent: 14000
1000 rows sent to SQL Server. Total sent: 15000
1000 rows sent to SQL Server. Total sent: 16000
1000 rows sent to SQL Server. Total sent: 17000
1000 rows sent to SQL Server. Total sent: 18000
1000 rows sent to SQL Server. Total sent: 19000
1000 rows sent to SQL Server. Total sent: 20000
1000 rows sent to SQL Server. Total sent: 21000
1000 rows sent to SQL Server. Total sent: 22000
1000 rows sent to SQL Server. Total sent: 23000
1000 rows sent to SQL Server. Total sent: 24000
1000 rows sent to SQL Server. Total sent: 25000
1000 rows sent to SQL Server. Total sent: 26000
1000 rows sent to SQL Server. Total sent: 27000
1000 rows sent to SQL Server. Total sent: 28000
1000 rows sent to SQL Server. Total sent: 29000
1000 rows sent to SQL Server. Total sent: 30000
1000 rows sent to SQL Server. Total sent: 31000
1000 rows sent to SQL Server. Total sent: 32000
1000 rows sent to SQL Server. Total sent: 33000
1000 rows sent to SQL Server. Total sent: 34000
1000 rows sent to SQL Server. Total sent: 35000
1000 rows sent to SQL Server. Total sent: 36000
1000 rows sent to SQL Server. Total sent: 37000
1000 rows sent to SQL Server. Total sent: 38000
1000 rows sent to SQL Server. Total sent: 39000
1000 rows sent to SQL Server. Total sent: 40000
1000 rows sent to SQL Server. Total sent: 41000
1000 rows sent to SQL Server. Total sent: 42000
1000 rows sent to SQL Server. Total sent: 43000
1000 rows sent to SQL Server. Total sent: 44000
1000 rows sent to SQL Server. Total sent: 45000
1000 rows sent to SQL Server. Total sent: 46000
1000 rows sent to SQL Server. Total sent: 47000
1000 rows sent to SQL Server. Total sent: 48000
1000 rows sent to SQL Server. Total sent: 49000
1000 rows sent to SQL Server. Total sent: 50000
1000 rows sent to SQL Server. Total sent: 51000
1000 rows sent to SQL Server. Total sent: 52000
1000 rows sent to SQL Server. Total sent: 53000
1000 rows sent to SQL Server. Total sent: 54000
1000 rows sent to SQL Server. Total sent: 55000
1000 rows sent to SQL Server. Total sent: 56000
1000 rows sent to SQL Server. Total sent: 57000
1000 rows sent to SQL Server. Total sent: 58000
1000 rows sent to SQL Server. Total sent: 59000
1000 rows sent to SQL Server. Total sent: 60000
1000 rows sent to SQL Server. Total sent: 61000
1000 rows sent to SQL Server. Total sent: 62000
1000 rows sent to SQL Server. Total sent: 63000
1000 rows sent to SQL Server. Total sent: 64000
1000 rows sent to SQL Server. Total sent: 65000
1000 rows sent to SQL Server. Total sent: 66000
1000 rows sent to SQL Server. Total sent: 67000
1000 rows sent to SQL Server. Total sent: 68000
1000 rows sent to SQL Server. Total sent: 69000
1000 rows sent to SQL Server. Total sent: 70000
1000 rows sent to SQL Server. Total sent: 71000
1000 rows sent to SQL Server. Total sent: 72000
1000 rows sent to SQL Server. Total sent: 73000
1000 rows sent to SQL Server. Total sent: 74000
1000 rows sent to SQL Server. Total sent: 75000
1000 rows sent to SQL Server. Total sent: 76000
1000 rows sent to SQL Server. Total sent: 77000
1000 rows sent to SQL Server. Total sent: 78000
1000 rows sent to SQL Server. Total sent: 79000
1000 rows sent to SQL Server. Total sent: 80000
1000 rows sent to SQL Server. Total sent: 81000
1000 rows sent to SQL Server. Total sent: 82000
1000 rows sent to SQL Server. Total sent: 83000
1000 rows sent to SQL Server. Total sent: 84000
1000 rows sent to SQL Server. Total sent: 85000
1000 rows sent to SQL Server. Total sent: 86000
1000 rows sent to SQL Server. Total sent: 87000
1000 rows sent to SQL Server. Total sent: 88000
1000 rows sent to SQL Server. Total sent: 89000
1000 rows sent to SQL Server. Total sent: 90000
1000 rows sent to SQL Server. Total sent: 91000
1000 rows sent to SQL Server. Total sent: 92000
1000 rows sent to SQL Server. Total sent: 93000
1000 rows sent to SQL Server. Total sent: 94000
1000 rows sent to SQL Server. Total sent: 95000
1000 rows sent to SQL Server. Total sent: 96000
1000 rows sent to SQL Server. Total sent: 97000
1000 rows sent to SQL Server. Total sent: 98000
1000 rows sent to SQL Server. Total sent: 99000
1000 rows sent to SQL Server. Total sent: 100000
1000 rows sent to SQL Server. Total sent: 101000
1000 rows sent to SQL Server. Total sent: 102000
1000 rows sent to SQL Server. Total sent: 103000
1000 rows sent to SQL Server. Total sent: 104000
1000 rows sent to SQL Server. Total sent: 105000
1000 rows sent to SQL Server. Total sent: 106000
1000 rows sent to SQL Server. Total sent: 107000
1000 rows sent to SQL Server. Total sent: 108000
1000 rows sent to SQL Server. Total sent: 109000
1000 rows sent to SQL Server. Total sent: 110000
1000 rows sent to SQL Server. Total sent: 111000
1000 rows sent to SQL Server. Total sent: 112000
1000 rows sent to SQL Server. Total sent: 113000
1000 rows sent to SQL Server. Total sent: 114000
1000 rows sent to SQL Server. Total sent: 115000
1000 rows sent to SQL Server. Total sent: 116000
1000 rows sent to SQL Server. Total sent: 117000
1000 rows sent to SQL Server. Total sent: 118000
1000 rows sent to SQL Server. Total sent: 119000
1000 rows sent to SQL Server. Total sent: 120000
1000 rows sent to SQL Server. Total sent: 121000
1000 rows sent to SQL Server. Total sent: 122000
1000 rows sent to SQL Server. Total sent: 123000
1000 rows sent to SQL Server. Total sent: 124000
1000 rows sent to SQL Server. Total sent: 125000
1000 rows sent to SQL Server. Total sent: 126000
1000 rows sent to SQL Server. Total sent: 127000
1000 rows sent to SQL Server. Total sent: 128000
1000 rows sent to SQL Server. Total sent: 129000
1000 rows sent to SQL Server. Total sent: 130000
1000 rows sent to SQL Server. Total sent: 131000
1000 rows sent to SQL Server. Total sent: 132000
1000 rows sent to SQL Server. Total sent: 133000
1000 rows sent to SQL Server. Total sent: 134000
1000 rows sent to SQL Server. Total sent: 135000
1000 rows sent to SQL Server. Total sent: 136000
1000 rows sent to SQL Server. Total sent: 137000
1000 rows sent to SQL Server. Total sent: 138000
1000 rows sent to SQL Server. Total sent: 139000
1000 rows sent to SQL Server. Total sent: 140000
1000 rows sent to SQL Server. Total sent: 141000
1000 rows sent to SQL Server. Total sent: 142000
1000 rows sent to SQL Server. Total sent: 143000
1000 rows sent to SQL Server. Total sent: 144000
1000 rows sent to SQL Server. Total sent: 145000
1000 rows sent to SQL Server. Total sent: 146000
1000 rows sent to SQL Server. Total sent: 147000
1000 rows sent to SQL Server. Total sent: 148000
1000 rows sent to SQL Server. Total sent: 149000
1000 rows sent to SQL Server. Total sent: 150000
1000 rows sent to SQL Server. Total sent: 151000
1000 rows sent to SQL Server. Total sent: 152000
1000 rows sent to SQL Server. Total sent: 153000
1000 rows sent to SQL Server. Total sent: 154000
1000 rows sent to SQL Server. Total sent: 155000
1000 rows sent to SQL Server. Total sent: 156000
1000 rows sent to SQL Server. Total sent: 157000
1000 rows sent to SQL Server. Total sent: 158000
1000 rows sent to SQL Server. Total sent: 159000
1000 rows sent to SQL Server. Total sent: 160000
1000 rows sent to SQL Server. Total sent: 161000
1000 rows sent to SQL Server. Total sent: 162000
1000 rows sent to SQL Server. Total sent: 163000
1000 rows sent to SQL Server. Total sent: 164000
1000 rows sent to SQL Server. Total sent: 165000
1000 rows sent to SQL Server. Total sent: 166000
1000 rows sent to SQL Server. Total sent: 167000
1000 rows sent to SQL Server. Total sent: 168000
1000 rows sent to SQL Server. Total sent: 169000
1000 rows sent to SQL Server. Total sent: 170000
1000 rows sent to SQL Server. Total sent: 171000
1000 rows sent to SQL Server. Total sent: 172000
1000 rows sent to SQL Server. Total sent: 173000
1000 rows sent to SQL Server. Total sent: 174000
1000 rows sent to SQL Server. Total sent: 175000
1000 rows sent to SQL Server. Total sent: 176000
1000 rows sent to SQL Server. Total sent: 177000
1000 rows sent to SQL Server. Total sent: 178000
1000 rows sent to SQL Server. Total sent: 179000
1000 rows sent to SQL Server. Total sent: 180000
1000 rows sent to SQL Server. Total sent: 181000
1000 rows sent to SQL Server. Total sent: 182000
1000 rows sent to SQL Server. Total sent: 183000
1000 rows sent to SQL Server. Total sent: 184000
1000 rows sent to SQL Server. Total sent: 185000
1000 rows sent to SQL Server. Total sent: 186000
1000 rows sent to SQL Server. Total sent: 187000
1000 rows sent to SQL Server. Total sent: 188000
1000 rows sent to SQL Server. Total sent: 189000
1000 rows sent to SQL Server. Total sent: 190000
1000 rows sent to SQL Server. Total sent: 191000

191635 rows copied.
Network packet size (bytes): 4096
Clock Time (ms.) Total     : 1797   Average : (106641.63 rows per sec.)

Need to correct data tehn run again

# Testing

In [ ]:

import json
import numpy as np
import pandas as pd

import pyodbc
from bcpandas import SqlCreds, to_sql

df = pd.read_csv('data/psold_aoi.csv')

creds = SqlCreds(AppSettings.PAT_JOB_SVR, AppSettings.PAT_JOB_DB, AppSettings.PAT_JOB_USR, AppSettings.PAT_JOB_PWD)
to_sql(df,'psold_aoi', creds, index=False, if_exists='append')

In [ ]:
job_conn = f'''DRIVER={{SQL Server}};Server={AppSettings.PAT_JOB_SVR};Database={AppSettings.PAT_JOB_DB};
            User Id={AppSettings.PAT_JOB_USR};Password={AppSettings.PAT_JOB_PWD};
            MultipleActiveResultSets=true;'''
with pyodbc.connect(job_conn) as conn:
             dfHPR = pd.read_sql_query(f"""select * from psold_hpr order by limit""", conn)
dfHPR

In [ ]:
select LocationIDStack,
	sum(case when job_id = 100000126 then premium else 0 end) as prem_with_spider,
	sum(case when job_id = 100000127 then premium else 0 end) as prem_wo_spider
from pat_premium
where job_id  in (100000126, 100000127)
group by LocationIDStack